@import "./base/utilities";
@import"./abstracts/mixins";
@import "./abstracts/variables";
@import"./abstracts/animation";
@import "./components/header";
@import"./pages/aboutUS";
@import"./pages/main__section";
@import"./pages/about";
@import"./pages/services";
@import"./pages/portfolio";
@import "./pages/testimonials";
@import"./pages/contact__form";
@import"./pages/footer";
@import"./base/responsive";
body{
    background-color:$dark-gray;
    font-family: Roboto;
    color: $white-color;
    
}
