.header{
    // position: fixed !important;
    background-color: transparent;
    width: 100%;
   padding: 2rem 0;
    border-bottom: 1px solid $border-color;
    z-index: 3;
    &__container{
        display: flex;
        align-items: center;
        padding: 2rem 0;
        font-size: 1.6rem;
       
    }
    &__logo{
       
        img{
           width: 50%; 
        }
    }
    &__nav{
        width: 60%; 
        &__list{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            gap: 2rem;
            a{
                text-decoration: none;
                color: $white-color;
                font-size: 1.6rem;
            }
        }
    }
    &__icons{
        width: 20%;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        gap: 2rem;
        
        
    }
   
}